@import "variables";

body {
  margin: 0;
}

// Dashboard Custom CSS Start Here
.ui.grid.cus-grid {
  margin-left: 0;
  margin-right: 0;
}

.main-wrapper {
  padding: 2% 3%;
}

.title {
  color: $secondary-color;
  font-size: 34px;
  font-weight: bold;
}

.notification-wrapper {
  padding-left: 5%;
}

i.icon.cus-alarm {
  margin-left: 4%;
  cursor: pointer;
}

.ui.grid>.row {
  align-items: center;
}

.col-2 {
  width: 5%!important;
}

.col-3 {
  width: 20%!important;
}

.col-11 {
  width: 75%!important;
}

.no-data {
  font-size: 34px;
  font-weight: 800;
  margin: auto;
  margin-top: 20vh;
}
// Dashboard Custom CSS End Here


// Card Custom CSS Start Here
.ui.card, .ui.cards>.card {
  width: 100%;
}

.ui.card.card-container {
  margin-bottom: 7%;
  min-height: 270px;

  .extra.content {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .card-profile-wrapper {
    width: 35px;
    height: 35px;
    overflow: hidden;
    background-color: $gray;
    border-radius: 20px;
    display: inline-block;
  
    .card-profile-pic {
      width: 100%;
      height: 100%;
    }
  }
  
  .card-profile-name {
    display: inline-block;
    margin-left: 2%;
  }
  
  .header.card-header {
    font-size: 22px;
  }

  .type {
    font-size: 17px;
  }

  .card-description {
    font-size: 15px;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
  }
}
// Card Custom CSS End Here


// Left Side Bar Custom CSS Start Here
.ui.thin.left.sidebar, .ui.thin.right.sidebar .left-bar {
  width: 5%;
}

.logo {
  padding: 10%;
}

.navigation-wrapper {
  text-align: center;
  margin-top: 8vh;
}

.navigation-wrapper i {
  font-size: 34px;
}

.nav-link, .nav-link:hover {
  color: $gray;
}

.nav-link.active {
  color: $primary-color;

  span {
    background-color: #237af6;
    width: 10px;
    height: 60px;
    border-radius: 5px;
    position: absolute;
    left: -3px;
    margin-top: -10px;
  }
}

.profile-wrapper {
  width: 60px;
  height: 60px;
  overflow: hidden;
  background-color: $gray;
  border-radius: 10px;
  display: inline-block;
}

.down {
  left: 0;
  right: 0;
  bottom: 2%;
  position: absolute;
  margin: auto;
}

.profile-pic {
  width: 100%;
  height: 100%;
}

.link-wrapper {
  margin-top: 3.2vh;
  position: relative;
}
// Left Side Bar Custom CSS End Here

// Right Side Bar Custom CSS Start Here
.ui.right.sidebar.right-sidebar {
  width: 20%;
  -webkit-box-shadow: inset 18px 9px 58px -34px rgb(59, 96, 140);
  -moz-box-shadow: inset 18px 9px 58px -34px rgb(59, 96, 140);
  box-shadow: inset 18px 9px 58px -34px rgb(59, 96, 140);
  background-color: $light-blue;
}

.profile-name-wrapper {
  display: inline-block;
  color: $secondary-color;
  text-align: right;
  margin-right: 5%;

  div {
    font-size: 24px;
    font-weight: 800;
  }

  p {
    font-size: 15px;
  }
}

.profile-main-wrapper {
  left: 0;
  right: 0;
  top: 3%;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 7%;
  padding-bottom: 5%;
  border-bottom: 1px solid $gray;
}

.btn-wrapper {
  bottom: 3%;
  position: absolute;
  left: 0;
  text-align: center;
  right: 0;

  button {
    background-color: $primary-color;
    color: #fff;
    padding: 3% 14%;
    font-size: 18px;
    text-transform: capitalize;
    border-radius: 10px;
  }

  .MuiButton-contained:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    background-color: #003675;
  }
}
// Right Side Bar Custom CSS End Here

// Responsiveness
@media(min-width: 320px) and (max-width: 1366px) {
  .col-2 {
    width: 12%!important;
  }
  
  .col-3 {
    width: 12%!important;
  }
  
  .col-11 {
    width: 76%!important;
  }

  .navigation-wrapper i {
    font-size: 24px;
  }

  .nav-link.active span {
    height: 45px;
    width: 8px;
  }

  .ui.thin.left.sidebar, .ui.thin.right.sidebar .left-bar {
    width: 12%;
  }

  .ui.right.sidebar.right-sidebar {
    width: 230px !important;
  }

  .title {
    font-size: 24px;
  }

  .main-wrapper {
    padding: 6% 0;
  }

  .ui.card.card-container {
    margin-bottom: 0;
  }

  .profile-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }

  .ui.left.sidebar, .ui.right.sidebar.hamburger-wrapper {
    background-color: $light-blue;
    color: $secondary-color;
    width: 12%;
    text-align: center;
  }

  .hamburger {
    margin-top: 30%;
  }

  .profile-name-wrapper {
    div {
      font-size: 14px;
      font-weight: 800;
    }
    p {
      font-size: 10px;
    }
  }

  .cancel {
    color: $gray;
    margin-left: 8%;
    margin-right: auto;
  }

  .btn-wrapper button {
    font-size: 14px;
  }

}

@media(min-width: 768px) and (max-width: 1366px) {
  .navigation-wrapper i {
    font-size: 34px;
  }

  .profile-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }

  .hamburger i {
    font-size: 34px;
  }
}